
    @model  List<CoinOutputModel>

<div class="wrapper">
    <header class="header">
        <div class="header__container">
        </div>
    </header>
    <main class="page">
        <section class="page__crypto-table crypto-table">
            <div class="crypto-table__container">

                 @foreach(var coin in @Model){
                    decimal coinPrice = Convert.ToDecimal(coin.Price);
                      string imageSource = $"~/Images/{@coin.Name}.png";
                             @using (Html.BeginForm("Details", "Market", new { coinName = coin.Name }, FormMethod.Post))
                            {
                                <div class="crypto-table__row row-crypto-table">
                                    <div class="row-crypto-table__left-elem left-elem-row-crypto-table">
                                        <div class="left-elem-row-crypto-table__icon">
                                                <img src="@Url.Content(imageSource)" >
                                              
                                        </div>
                                                <div class="left-elem-row-crypto-table__title">
                                                    @coin.Name
                                                </div>
                                            </div>
                                            <div class="row-crypto-table__price">
                                                $@coinPrice
                                            </div>
                                            <div id="divChangesColor" class="row-crypto-table__percent row-crypto-table 
                                                row-crypto-table_right changes24">@coin.Changes24h</div>

                                            <div class="row-crypto-table__amount row-crypto-table_right">
                                              @coin.DayOpenPrice
                                            </div>

                                            <div class="row-crypto-table__links">
                                                <button class="row-crypto-table__link">Detail</button>
                                                <button class="row-crypto-table__link">Trade</button>
                                            </div>
                                        </div>
                                   }	
                                }
                
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
        </div>
    </footer>
</div>

<!--
<div id="popup" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <button data-close type="button" class="popup__close">Закрыть</button>
            <div class="popup__text">
            </div>
        </div>
    </div>
</div>
 -->
