<div class="wrapper">
    <header class="header">
        <div class="header__container">
        </div>
    </header>
    <main class="page">
        <section class="page__crypto-table crypto-table">
            <div class="crypto-table__container">
                <div class="crypto-table__row row-crypto-table">
                    <div class="row-crypto-table__left-elem left-elem-row-crypto-table">
                        <div class="left-elem-row-crypto-table__icon">
                            <picture><source srcset="img/icons/crypto/bitcoin.webp" type="image/webp"><img src="img/icons/crypto/bitcoin.png" alt=""></picture>
                        </div>
                        <div class="left-elem-row-crypto-table__title">
                            BTC
                        </div>
                        <small class="left-elem-row-crypto-table__small">
                            Bitcoin
                        </small>
                    </div>
                    <div class="row-crypto-table__price">
                        $1 161 862,41000
                    </div>

                    <div class="row-crypto-table__percent row-crypto-table__percent_red row-crypto-table_right">
                        -2.04%
                    </div>
                    <div class="row-crypto-table__amount row-crypto-table_right">
                        94,33M
                    </div>
                    <div class="row-crypto-table__capitalisation row-crypto-table_right">
                        $753,707.06M
                    </div>
                    <div class="row-crypto-table__links">
                        <a href="" class="row-crypto-table__link">Detail</a>
                        <a href="" class="row-crypto-table__link">Trade</a>
                    </div>
                </div>
                <div class="crypto-table__row row-crypto-table">
                    <div class="row-crypto-table__left-elem left-elem-row-crypto-table">
                        <div class="left-elem-row-crypto-table__icon">
                            <picture><source srcset="img/icons/crypto/bitcoin.webp" type="image/webp"><img src="img/icons/crypto/bitcoin.png" alt=""></picture>
                        </div>
                        <div class="left-elem-row-crypto-table__title">
                            BTC
                        </div>
                        <small class="left-elem-row-crypto-table__small">
                            Bitcoin
                        </small>
                    </div>
                    <div class="row-crypto-table__price">
                        $1 161 862,41000
                    </div>

                    <div class="row-crypto-table__percent row-crypto-table__percent_red row-crypto-table_right">
                        -2.04%
                    </div>
                    <div class="row-crypto-table__amount row-crypto-table_right">
                        94,33M
                    </div>
                    <div class="row-crypto-table__capitalisation row-crypto-table_right">
                        $753,707.06M
                    </div>
                    <div class="row-crypto-table__links">
                        <a href="" class="row-crypto-table__link">Detail</a>
                        <a href="" class="row-crypto-table__link">Trade</a>
                    </div>
                </div>
                <div class="crypto-table__row row-crypto-table">
                    <div class="row-crypto-table__left-elem left-elem-row-crypto-table">
                        <div class="left-elem-row-crypto-table__icon">
                            <picture><source srcset="img/icons/crypto/bitcoin.webp" type="image/webp"><img src="img/icons/crypto/bitcoin.png" alt=""></picture>
                        </div>
                        <div class="left-elem-row-crypto-table__title">
                            BTC
                        </div>
                        <small class="left-elem-row-crypto-table__small">
                            Bitcoin
                        </small>
                    </div>
                    <div class="row-crypto-table__price">
                        $1 161 862,41000
                    </div>

                    <div class="row-crypto-table__percent row-crypto-table__percent_red row-crypto-table_right">
                        -2.04%
                    </div>
                    <div class="row-crypto-table__amount row-crypto-table_right">
                        94,33M
                    </div>
                    <div class="row-crypto-table__capitalisation row-crypto-table_right">
                        $753,707.06M
                    </div>
                    <div class="row-crypto-table__links">
                        <a href="" class="row-crypto-table__link">Detail</a>
                        <a href="" class="row-crypto-table__link">Trade</a>
                    </div>
                </div>
                <div class="crypto-table__row row-crypto-table">
                    <div class="row-crypto-table__left-elem left-elem-row-crypto-table">
                        <div class="left-elem-row-crypto-table__icon">
                            <picture><source srcset="img/icons/crypto/bitcoin.webp" type="image/webp"><img src="img/icons/crypto/bitcoin.png" alt=""></picture>
                        </div>
                        <div class="left-elem-row-crypto-table__title">
                            BTC
                        </div>
                        <small class="left-elem-row-crypto-table__small">
                            Bitcoin
                        </small>
                    </div>
                    <div class="row-crypto-table__price">
                        $1 161 862,41000
                    </div>

                    <div class="row-crypto-table__percent row-crypto-table__percent_red row-crypto-table_right">
                        -2.04%
                    </div>
                    <div class="row-crypto-table__amount row-crypto-table_right">
                        94,33M
                    </div>
                    <div class="row-crypto-table__capitalisation row-crypto-table_right">
                        $753,707.06M
                    </div>
                    <div class="row-crypto-table__links">
                        <a href="" class="row-crypto-table__link">Detail</a>
                        <a href="" class="row-crypto-table__link">Trade</a>
                    </div>
                </div>
                <div class="crypto-table__row row-crypto-table">
                    <div class="row-crypto-table__left-elem left-elem-row-crypto-table">
                        <div class="left-elem-row-crypto-table__icon">
                            <picture><source srcset="img/icons/crypto/bitcoin.webp" type="image/webp"><img src="img/icons/crypto/bitcoin.png" alt=""></picture>
                        </div>
                        <div class="left-elem-row-crypto-table__title">
                            BTC
                        </div>
                        <small class="left-elem-row-crypto-table__small">
                            Bitcoin
                        </small>
                    </div>
                    <div class="row-crypto-table__price">
                        $1 161 862,41000
                    </div>

                    <div class="row-crypto-table__percent row-crypto-table__percent_red row-crypto-table_right">
                        -2.04%
                    </div>
                    <div class="row-crypto-table__amount row-crypto-table_right">
                        94,33M
                    </div>
                    <div class="row-crypto-table__capitalisation row-crypto-table_right">
                        $753,707.06M
                    </div>
                    <div class="row-crypto-table__links">
                        <a href="" class="row-crypto-table__link">Detail</a>
                        <a href="" class="row-crypto-table__link">Trade</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
        </div>
    </footer>
</div>
<!--
<div id="popup" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <button data-close type="button" class="popup__close">Закрыть</button>
            <div class="popup__text">
            </div>
        </div>
    </div>
</div>
 -->
